label{
    color: #fffa00;
    font-weight: 800;
    font-family: monospace;
    font-size: 17px;
}

.modal-body{    background-color: lightslategrey !important;}

hr {

    color: #5e5050;
    border: 1px solid;
}

.cc{

    font-size: 18px;
    color: #0b231e;
}
