<h3  class="mt-3" style="text-align: center;color: antiquewhite;font-family: monospace;" >COURSE COMPLETION
</h3>

 <button
                      type="submit"
                      class="btn btn-primary btn-sm form-control form-control-sm"
                      style="
width:0px;
                        cursor: pointer;
                        border: 0px !important;
                        color: #e9b000 !important;
                        background-color: black !important;
                      "
   id="submit"
   (click)="viewProfessorDigitalSignature()"
                    >
                      <img
                        src="assets/icons/digital_signature.svg"
                        class="text-center"
                        width="50px"
			style="margin-left:1200px;"
                        height="50px"
			/>
		      </button>
  <div class="table-responsive">
    <table class="table table-light table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Rollno</th>
            <th scope="col">Student Name</th>

            <th scope="col">Certificate Issued ?</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of coursecompletion.data; index as i;">
          <tr [ngClass]="{'success':!data.is_course_completed, 
            'danger':data.is_course_completed}" >
            <th scope="row">{{ i+1 }}</th>
            <td>{{ data.rollno }}</td>
            <td>{{ data.username }}</td>
	    
            <td  [ngClass]="{
            'table-success' : data.is_course_completed,
            'table-danger' : !data.is_course_completed
         }" >{{ data.is_course_completed  }}</td>
	    <td>
<button  (click)="issuecertificate(data.rollno)"
         [disabled]="data.is_course_completed" >
  Issue Certificate</button>
	    </td>
	    <td>
  <button (click)="revokeCertificate(data.rollno)"
         [disabled]="!data.is_course_completed" >
           Revoke Certificate</button>
</td>
	  </tr>
         
        </tbody>
      </table>
    
</div>    
