.table-dark td, .table-dark th, .table-dark thead th {
    font-family: monospace;
    border-color: #32383e;
    font-size: 17px;
    font-weight: 900;
    align-items: center;
    text-align: center;
}